<div class="navbar">
    <div class="nav-left">
        <a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">
            Home
        </a>

        <a href="{% url 'ecoConnect_list' %}" class="{% if 'ecoConnect' in request.path %}active{% endif %}">
            EcoConnect
        </a>

        <a href="{% url 'articles' %}" class="{% if 'articles' in request.path %}active{% endif %}">
            Articles
        </a>

        <a href="{% url 'projects' %}" class="{% if 'projects' in request.path %}active{% endif %}">
            Projects
        </a>

        <a href="{% url 'events' %}" class="{% if 'events' in request.path %}active{% endif %}">
            Events
        </a>

        <a href="{% url 'businesses' %}" class="{% if 'businesses' in request.path %}active{% endif %}">
            Green Businesses
        </a>
    </div>

    <div class="nav-right">
        <button onclick="toggleTheme()" class="btn btn-auth">🌓</button>

        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="btn-auth">Logout</a>
        {% else %}
            <a href="{% url 'login' %}" class="btn-auth">Login</a>
        {% endif %}
    </div>
</div>
